.pageLoading {
  .mask {
    position: absolute;
    inset: 0;
    z-index: 999;
    background-color: rgb(0 0 0 / 0.1);
  }

  .dotLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }
}
